@media screen and ( max-width: 1024px ) {
	img.responsive { width: 200px; }
	}
@media screen and ( min-width:1025px ) and ( max-width: 1280px ) {
	img.responsive { width: 200px; }
	}
@media screen and ( min-width: 1081px ) {
	img.responsive { width: 300px; }
	}
	img.responsive { height: auto; }

body {
  background: #360033;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  font-family: 'Quicksand', tahoma;
  font-size: medium;
  text-align: center;
  color:#fff;
  padding-top:10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
* { color:#fff; text-decoration: none; }
img {
	align-self: center;
	
}
.myButton {
  box-shadow: 0px 0px 20px -0px #ffffff;
	background:linear-gradient(to left, #0b8793 5%, #360033 100%);
	background-color:#599bb3;
	border-radius:42px;
	border:0.34px ridge #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Quicksand', tahoma;
	font-size:20px;
 	font-weight:lighter;
 	text-align: center;
	padding:7px 28px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
	align-self: center;
	
}
.myButton:hover {
	background:linear-gradient(to right, #0b8793 5%, #360033 100%);
	background-color:#000000;
}
.myButton:active {
	position:relative;
	top:1px;
}



