body {
  background: #ad5389;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color:#fff;
  padding-top:10em;
}
* { color:#fff; text-decoration: none; }

.myButton {
  box-shadow: 0px 0px 20px -0px #e06db2;
	background:linear-gradient(to left, #3c1053 5%, #ad5389 100%);
	background-color:#599bb3;
	border-radius:42px;
	border:1px solid #693354; 
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Josefin Sans', sans-serif;
	font-size:20px;
  font-weight:lighter;
  text-align: center;
	padding:7px 28px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to right, #3c1053 5%, #ad5389 100%);
	background-color:#000000;
}
.myButton:active {
	position:relative;
	top:1px;
}



